body {
    color: #444;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    max-width: 960px;
}

#googleMapContainer{
	
	width: 100%;
	height: 100%;
}

#mapa{
	width: 70%;
	height: 100%;
	float: right;
}

#tabla{
	width: 30%;
	height: 700px;
	max-height: 700px;
	float: left;
}
#main{
	width: 100%;
	height: 700px;
	max-height: 700px;
}

#tam{
	max-height: 700px;
}